C37797W/Data/MenuPlan.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="NewDataSet" nillable="true" type="NewDataSet" />
  <xs:complexType name="NewDataSet">
    <xs:complexContent mixed="false">
      <xs:extension base="MenuPlanElementBaseOfMenuPlanPrintResult">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="Header" type="Header" />
          <xs:element minOccurs="0" maxOccurs="1" name="WeekDays" type="ArrayOfWeekDay" />
          <xs:element minOccurs="0" maxOccurs="1" name="ImageData" type="ArrayOfImage" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MenuPlanElementBaseOfMenuPlanPrintResult" abstract="true" />
  <xs:complexType name="Header">
    <xs:complexContent mixed="false">
      <xs:extension base="MenuPlanElementBaseOfHeader">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="UserName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="UserLongName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Client" type="Client" />
          <xs:element minOccurs="0" maxOccurs="1" name="Date" type="Date" />
          <xs:element minOccurs="0" maxOccurs="1" name="ServiceUnit" type="ServiceUnit" />
          <xs:element minOccurs="0" maxOccurs="1" name="Print" type="Print" />
          <xs:element minOccurs="0" maxOccurs="1" name="RDE" type="RDE" />
          <xs:element minOccurs="0" maxOccurs="1" name="BillOfFareName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Kitchen" type="Kitchen" />
          <xs:element minOccurs="0" maxOccurs="1" name="SCF_TIMESTAMP" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Variable1" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Variable2" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Variable3" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Variable4" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Variable5" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MenuPlanElementBaseOfHeader" abstract="true" />
  <xs:complexType name="Client">
    <xs:complexContent mixed="false">
      <xs:extension base="MenuPlanElementBaseOfClient">
        <xs:attribute name="Version" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MenuPlanElementBaseOfClient" abstract="true" />
  <xs:complexType name="Date">
    <xs:attribute name="From" type="xs:string" />
    <xs:attribute name="To" type="xs:string" />
    <xs:attribute name="CalendarWeek" type="xs:int" use="required" />
  </xs:complexType>
  <xs:complexType name="ServiceUnit">
    <xs:attribute name="Name" type="xs:string" />
    <xs:attribute name="CostCenterNr" type="xs:int" use="required" />
  </xs:complexType>
  <xs:complexType name="Print">
    <xs:attribute name="Date" type="xs:string" />
    <xs:attribute name="Time" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="RDE">
    <xs:attribute name="Name" type="xs:string" />
    <xs:attribute name="FormNumber" type="xs:int" use="required" />
  </xs:complexType>
  <xs:complexType name="Kitchen">
    <xs:complexContent mixed="false">
      <xs:extension base="MenuPlanElementBaseOfKitchen">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="Address" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="AddressDetails" type="AddressDetails" />
          <xs:element minOccurs="0" maxOccurs="1" name="PictureInfo" type="ArrayOfPicture" />
          <xs:element minOccurs="0" maxOccurs="1" name="Logo" type="Picture" />
        </xs:sequence>
        <xs:attribute name="ExternalName" type="xs:string" />
        <xs:attribute name="PersonInCharge" type="xs:string" />
        <xs:attribute name="Phone" type="xs:string" />
        <xs:attribute name="EMail" type="xs:string" />
        <xs:attribute name="Fax" type="xs:string" />
        <xs:attribute name="WWW" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MenuPlanElementBaseOfKitchen" abstract="true" />
  <xs:complexType name="AddressDetails">
    <xs:complexContent mixed="false">
      <xs:extension base="MenuPlanElementBaseOfAddressDetails">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="AddressLine1" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="AddressLine2" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="StreetAddress" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="StreetName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="StreetType" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="StreetNumber" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Level" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Unit" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Suburb" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="City" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="State" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ZIP" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Country" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MenuPlanElementBaseOfAddressDetails" abstract="true" />
  <xs:complexType name="ArrayOfPicture">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Picture" nillable="true" type="Picture" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Picture">
    <xs:complexContent mixed="false">
      <xs:extension base="MenuPlanElementBaseOfPicture">
        <xs:attribute name="imageId" type="xs:int" use="required" />
        <xs:attribute name="pictureName" type="xs:string" />
        <xs:attribute name="pictureNo" type="xs:int" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MenuPlanElementBaseOfPicture" abstract="true" />
  <xs:complexType name="ArrayOfWeekDay">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WeekDay" nillable="true" type="WeekDay" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="WeekDay">
    <xs:complexContent mixed="false">
      <xs:extension base="MenuPlanElementBaseOfMealTime">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="WeekDayTranslation" type="WeekDayTranslation" />
          <xs:element minOccurs="0" maxOccurs="1" name="Error" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="MenuLine" type="MenuLine" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="Component" type="Component" />
        </xs:sequence>
        <xs:attribute name="Day" type="xs:string" />
        <xs:attribute name="Date" type="xs:string" />
        <xs:attribute name="Mealtime" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MenuPlanElementBaseOfMealTime" abstract="true" />
  <xs:complexType name="WeekDayTranslation">
    <xs:attribute name="lang" type="xs:string" />
    <xs:attribute name="Date" type="xs:string" />
    <xs:attribute name="Mealtime" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="MenuLine">
    <xs:complexContent mixed="false">
      <xs:extension base="MenuPlanElementBaseOfMenuLine">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="InfoText" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="SetMenu" type="SetMenu" />
        </xs:sequence>
        <xs:attribute name="PrintOrder" type="xs:int" use="required" />
        <xs:attribute name="Name" type="xs:string" />
        <xs:attribute name="ShortName" type="xs:string" />
        <xs:attribute name="TemplateSortOrder" type="xs:int" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MenuPlanElementBaseOfMenuLine" abstract="true" />
  <xs:complexType name="SetMenu">
    <xs:complexContent mixed="false">
      <xs:extension base="MenuPlanElementBaseOfSetMenu">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="SetMenuTranslation" type="SetMenuTranslation" />
          <xs:element minOccurs="0" maxOccurs="1" name="Description" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="IsComponentOriented" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="SetMenuDetails" type="Details" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="Component" type="Component" />
        </xs:sequence>
        <xs:attribute name="IdentNr" type="xs:string" />
        <xs:attribute name="ItemID" type="xs:int" use="required" />
        <xs:attribute name="Name" type="xs:string" />
        <xs:attribute name="ShortName" type="xs:string" />
        <xs:attribute name="DisplayName" type="xs:string" />
        <xs:attribute name="IndividualName" type="xs:string" />
        <xs:attribute name="NutriScore" type="xs:string" />
        <xs:attribute name="SortOrder" type="xs:int" use="required" />
        <xs:attribute name="SalesPrice" type="xs:string" />
        <xs:attribute name="SalesPrice1" type="xs:string" />
        <xs:attribute name="SalesPrice2" type="xs:string" />
        <xs:attribute name="TrafficLight" type="xs:int" use="required" />
        <xs:attribute name="SalesUnit" type="xs:string" />
        <xs:attribute name="PlannedQty" type="xs:string" />
        <xs:attribute name="Weight" type="xs:string" />
        <xs:attribute name="CO2Value" type="xs:string" />
        <xs:attribute name="CO2Rating" type="xs:string" />
        <xs:attribute name="CO2Error" type="xs:string" />
        <xs:attribute name="ClimateFriendly" type="xs:string" />
        <xs:attribute name="VitaScore" type="xs:string" />
        <xs:attribute name="VitaRating" type="xs:string" />
        <xs:attribute name="VitaAward" type="xs:string" />
        <xs:attribute name="AnimalRating" type="xs:string" />
        <xs:attribute name="AnimalAward" type="xs:string" />
        <xs:attribute name="RainforestRating" type="xs:string" />
        <xs:attribute name="RainforestAward" type="xs:string" />
        <xs:attribute name="WaterRating" type="xs:string" />
        <xs:attribute name="WaterAward" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MenuPlanElementBaseOfSetMenu" abstract="true" />
  <xs:complexType name="SetMenuTranslation">
    <xs:attribute name="lang" type="xs:string" />
    <xs:attribute name="IdentNr" type="xs:string" />
    <xs:attribute name="Name" type="xs:string" />
    <xs:attribute name="DisplayName" type="xs:string" />
    <xs:attribute name="IndividualName" type="xs:string" />
    <xs:attribute name="SalesPrice" type="xs:string" />
    <xs:attribute name="SalesPrice1" type="xs:string" />
    <xs:attribute name="SalesPrice2" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="Details">
    <xs:complexContent mixed="false">
      <xs:extension base="MenuPlanElementBaseOfDetails">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="GastDesc" type="GastDesc" />
          <xs:element minOccurs="0" maxOccurs="1" name="ProductInfo" type="ProductInfo" />
          <xs:element minOccurs="0" maxOccurs="1" name="NutritionInfo" type="ArrayOfNutrient" />
          <xs:element minOccurs="0" maxOccurs="1" name="DietaryValues" type="DietaryValues" />
          <xs:element minOccurs="0" maxOccurs="1" name="AdditiveInfo" type="AdditiveInfo" />
          <xs:element minOccurs="0" maxOccurs="1" name="FoodLabelInfo" type="FoodLabelInfo" />
          <xs:element minOccurs="0" maxOccurs="1" name="IngredientsList" type="ListOfIngredients" />
          <xs:element minOccurs="0" maxOccurs="1" name="ProductSpecification" type="ProductSpecification" />
          <xs:element minOccurs="0" maxOccurs="1" name="Description" type="Description" />
          <xs:element minOccurs="0" maxOccurs="1" name="Information" type="Information" />
          <xs:element minOccurs="0" maxOccurs="1" name="ServingInstructions" type="ServingInstructions" />
          <xs:element minOccurs="0" maxOccurs="1" name="IngredientsForDisplay" type="IngredientsForDisplay" />
          <xs:element minOccurs="0" maxOccurs="1" name="PictureInfo" type="ArrayOfPicture" />
          <xs:element minOccurs="0" maxOccurs="1" name="BarcodeInfo" type="ArrayOfBarcode" />
          <xs:element minOccurs="0" maxOccurs="1" name="LogoInfo" type="ArrayOfLogo" />
          <xs:element minOccurs="0" maxOccurs="1" name="CategoryInfo" type="ArrayOfCategoryGroup" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MenuPlanElementBaseOfDetails" abstract="true" />
  <xs:complexType name="GastDesc">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GastDescTranslation" type="GastDescTranslation" />
    </xs:sequence>
    <xs:attribute name="value" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="GastDescTranslation">
    <xs:attribute name="lang" type="xs:string" />
    <xs:attribute name="value" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="ProductInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Product" type="Product" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Product">
    <xs:complexContent mixed="false">
      <xs:extension base="MenuPlanElementBaseOfProduct">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductTranslation" type="ProductTranslation" />
        </xs:sequence>
        <xs:attribute name="Name" type="xs:string" />
        <xs:attribute name="ShortName" type="xs:string" />
        <xs:attribute name="PLU" type="xs:string" />
        <xs:attribute name="Barcode1" type="xs:string" />
        <xs:attribute name="Barcode2" type="xs:string" />
        <xs:attribute name="Barcode3" type="xs:string" />
        <xs:attribute name="Barcode4" type="xs:string" />
        <xs:attribute name="Barcode5" type="xs:string" />
        <xs:attribute name="Barcode6" type="xs:string" />
        <xs:attribute name="Barcode7" type="xs:string" />
        <xs:attribute name="Barcode8" type="xs:string" />
        <xs:attribute name="Barcode9" type="xs:string" />
        <xs:attribute name="Barcode10" type="xs:string" />
        <xs:attribute name="ProductPrice" type="xs:string" />
        <xs:attribute name="ProductPrice2" type="xs:string" />
        <xs:attribute name="ProductPrice3" type="xs:string" />
        <xs:attribute name="ProductPrice4" type="xs:string" />
        <xs:attribute name="ProductPrice5" type="xs:string" />
        <xs:attribute name="ProductPrice6" type="xs:string" />
        <xs:attribute name="ProductPrice7" type="xs:string" />
        <xs:attribute name="ProductPrice8" type="xs:string" />
        <xs:attribute name="ProductPrice9" type="xs:string" />
        <xs:attribute name="ProductPrice10" type="xs:string" />
        <xs:attribute name="POSKey" type="xs:string" />
        <xs:attribute name="POSText" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MenuPlanElementBaseOfProduct" abstract="true" />
  <xs:complexType name="ProductTranslation">
    <xs:attribute name="lang" type="xs:string" />
    <xs:attribute name="Name" type="xs:string" />
    <xs:attribute name="ShortName" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="ArrayOfNutrient">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Nutrient" nillable="true" type="Nutrient" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Nutrient">
    <xs:complexContent mixed="false">
      <xs:extension base="MenuPlanElementBaseOfNutrient">
        <xs:attribute name="name" type="xs:string" />
        <xs:attribute name="shortName" type="xs:string" />
        <xs:attribute name="digitalSignageCode" type="xs:string" />
        <xs:attribute name="unit" type="xs:string" />
        <xs:attribute name="value" type="xs:string" />
        <xs:attribute name="value100" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MenuPlanElementBaseOfNutrient" abstract="true" />
  <xs:complexType name="DietaryValues">
    <xs:complexContent mixed="false">
      <xs:extension base="MenuPlanElementBaseOfDietaryValues">
        <xs:attribute name="Exchanges" type="xs:string" />
        <xs:attribute name="Fluids" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MenuPlanElementBaseOfDietaryValues" abstract="true" />
  <xs:complexType name="AdditiveInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PictureInfo" type="Picture" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AdditiveGroup" type="AdditiveGroup" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AdditiveGroup">
    <xs:complexContent mixed="false">
      <xs:extension base="MenuPlanElementBaseOfAdditiveGroup">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="AdditiveGroupTranslation" type="BaseTranslation" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="Additive" type="Additive" />
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" />
        <xs:attribute name="code" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MenuPlanElementBaseOfAdditiveGroup" abstract="true" />
  <xs:complexType name="BaseTranslation">
    <xs:attribute name="lang" type="xs:string" />
    <xs:attribute name="name" type="xs:string" />
    <xs:attribute name="code" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="Additive">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AdditiveTranslation" type="AdditiveTranslation" />
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" />
    <xs:attribute name="shortName" type="xs:string" />
    <xs:attribute name="digitalSignageCode" type="xs:string" />
    <xs:attribute name="imageId" type="xs:int" />
  </xs:complexType>
  <xs:complexType name="AdditiveTranslation">
    <xs:attribute name="lang" type="xs:string" />
    <xs:attribute name="name" type="xs:string" />
    <xs:attribute name="shortName" type="xs:string" />
    <xs:attribute name="code" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="FoodLabelInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FoodLabelGroup" type="FoodLabelGroup" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FoodLabelGroup">
    <xs:complexContent mixed="false">
      <xs:extension base="MenuPlanElementBaseOfFoodLabelGroup">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="FoodLabelGroupTranslation" type="BaseTranslation" />
          <xs:element minOccurs="0" maxOccurs="1" name="Allergens" type="ArrayOfFoodLabel" />
          <xs:element minOccurs="0" maxOccurs="1" name="Additives" type="ArrayOfFoodLabel" />
          <xs:element minOccurs="0" maxOccurs="1" name="Information" type="ArrayOfFoodLabel" />
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" />
        <xs:attribute name="code" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MenuPlanElementBaseOfFoodLabelGroup" abstract="true" />
  <xs:complexType name="ArrayOfFoodLabel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FoodLabel" nillable="true" type="FoodLabel" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FoodLabel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FoodLabelTranslation" type="BaseTranslation" />
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" />
    <xs:attribute name="code" type="xs:string" />
    <xs:attribute name="digitalSignageCode" type="xs:string" />
    <xs:attribute name="imageId" type="xs:int" />
  </xs:complexType>
  <xs:complexType name="ListOfIngredients">
    <xs:complexContent mixed="false">
      <xs:extension base="MenuPlanElementBaseOfListOfIngredients">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="ListOfIngredientsTranslation" type="ListOfIngredientsTranslation" />
        </xs:sequence>
        <xs:attribute name="Value" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MenuPlanElementBaseOfListOfIngredients" abstract="true" />
  <xs:complexType name="ListOfIngredientsTranslation">
    <xs:attribute name="lang" type="xs:string" />
    <xs:attribute name="value" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="ProductSpecification">
    <xs:complexContent mixed="false">
      <xs:extension base="MenuPlanElementBaseOfProductSpecification">
        <xs:attribute name="Value" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MenuPlanElementBaseOfProductSpecification" abstract="true" />
  <xs:complexType name="Description">
    <xs:complexContent mixed="false">
      <xs:extension base="MenuPlanElementBaseOfDescription">
        <xs:attribute name="Value" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MenuPlanElementBaseOfDescription" abstract="true" />
  <xs:complexType name="Information">
    <xs:complexContent mixed="false">
      <xs:extension base="MenuPlanElementBaseOfInformation">
        <xs:attribute name="Value" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MenuPlanElementBaseOfInformation" abstract="true" />
  <xs:complexType name="ServingInstructions">
    <xs:complexContent mixed="false">
      <xs:extension base="MenuPlanElementBaseOfServingInstructions">
        <xs:attribute name="Value" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MenuPlanElementBaseOfServingInstructions" abstract="true" />
  <xs:complexType name="IngredientsForDisplay">
    <xs:complexContent mixed="false">
      <xs:extension base="MenuPlanElementBaseOfIngredientsForDisplay">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="IngredientsForDisplayTranslation" type="IngredientsForDisplayTranslation" />
        </xs:sequence>
        <xs:attribute name="Value" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MenuPlanElementBaseOfIngredientsForDisplay" abstract="true" />
  <xs:complexType name="IngredientsForDisplayTranslation">
    <xs:attribute name="lang" type="xs:string" />
    <xs:attribute name="value" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="ArrayOfBarcode">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Barcode" nillable="true" type="Barcode" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Barcode">
    <xs:complexContent mixed="false">
      <xs:extension base="MenuPlanElementBaseOfBarcode">
        <xs:attribute name="Name" type="xs:string" />
        <xs:attribute name="Value" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MenuPlanElementBaseOfBarcode" abstract="true" />
  <xs:complexType name="ArrayOfLogo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Logo" nillable="true" type="Logo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Logo">
    <xs:complexContent mixed="false">
      <xs:extension base="MenuPlanElementBaseOfLogo">
        <xs:attribute name="id" type="xs:int" use="required" />
        <xs:attribute name="imageId" type="xs:int" />
        <xs:attribute name="shortName" type="xs:string" />
        <xs:attribute name="name" type="xs:string" />
        <xs:attribute name="logoType" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MenuPlanElementBaseOfLogo" abstract="true" />
  <xs:complexType name="ArrayOfCategoryGroup">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CategoryGroup" nillable="true" type="CategoryGroup" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CategoryGroup">
    <xs:complexContent mixed="false">
      <xs:extension base="MenuPlanElementBaseOfCategoryGroup">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="Category" type="Category" />
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" />
        <xs:attribute name="categoryNo" type="xs:int" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MenuPlanElementBaseOfCategoryGroup" abstract="true" />
  <xs:complexType name="Category">
    <xs:complexContent mixed="false">
      <xs:extension base="MenuPlanElementBaseOfCategory">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="CategoryTranslation" type="BaseTranslation" />
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MenuPlanElementBaseOfCategory" abstract="true" />
  <xs:complexType name="Component" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension base="MenuPlanElementBaseOfComponent">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="NameInMenu" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ComponentDetails" type="Details" />
          <xs:element minOccurs="1" maxOccurs="1" name="ProductPrice" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" maxOccurs="1" name="ComponentName" type="ComponentName" />
        </xs:sequence>
        <xs:attribute name="CompGroup" type="xs:string" />
        <xs:attribute name="CompType" type="xs:int" use="required" />
        <xs:attribute name="CompID" type="xs:int" use="required" />
        <xs:attribute name="ServingTool" type="xs:string" />
        <xs:attribute name="Name" type="xs:string" />
        <xs:attribute name="IdentNr" type="xs:string" />
        <xs:attribute name="TrafficLight" type="xs:int" use="required" />
        <xs:attribute name="TrafficLightScore" type="xs:int" use="required" />
        <xs:attribute name="NutriScore" type="xs:string" />
        <xs:attribute name="SalesPrice" type="xs:string" />
        <xs:attribute name="SalesPrice1" type="xs:string" />
        <xs:attribute name="SalesPrice2" type="xs:string" />
        <xs:attribute name="WeightFactor" type="xs:string" />
        <xs:attribute name="Weight" type="xs:string" />
        <xs:attribute name="NetWeight" type="xs:decimal" use="required" />
        <xs:attribute name="SalesUnit" type="xs:string" />
        <xs:attribute name="PlannedQty" type="xs:string" />
        <xs:attribute name="GesocaValueColor" type="xs:string" />
        <xs:attribute name="GesocaValue" type="xs:string" />
        <xs:attribute name="PortSizeFactor" type="xs:decimal" />
        <xs:attribute name="PortSizeSign" type="xs:string" />
        <xs:attribute name="Seasonality" type="xs:int" use="required" />
        <xs:attribute name="CO2Value" type="xs:string" />
        <xs:attribute name="CO2Perc" type="xs:string" />
        <xs:attribute name="CO2Rating" type="xs:string" />
        <xs:attribute name="AnimalRating" type="xs:string" />
        <xs:attribute name="AnimalAward" type="xs:string" />
        <xs:attribute name="RainforestRating" type="xs:string" />
        <xs:attribute name="RainforestAward" type="xs:string" />
        <xs:attribute name="WaterRating" type="xs:string" />
        <xs:attribute name="WaterAward" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MenuPlanElementBaseOfComponent" abstract="true" />
  <xs:complexType name="ComponentName">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ComponentTranslation" type="ComponentTranslation" />
    </xs:sequence>
    <xs:attribute name="value" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="ComponentTranslation">
    <xs:attribute name="lang" type="xs:string" />
    <xs:attribute name="IdentNr" type="xs:string" />
    <xs:attribute name="Name" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="RecipeComponent">
    <xs:complexContent mixed="false">
      <xs:extension base="Component">
        <xs:attribute name="RecipeID" type="xs:int" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ArticleComponent">
    <xs:complexContent mixed="false">
      <xs:extension base="Component">
        <xs:attribute name="ItemID" type="xs:int" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ArrayOfImage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Image" nillable="true" type="Image" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Image">
    <xs:attribute name="id" type="xs:int" use="required" />
    <xs:attribute name="URL" type="xs:string" />
    <xs:attribute name="Name" type="xs:string" />
  </xs:complexType>
</xs:schema>